$color-periwinkle-gray: #B2C7E2;
$color-white: #fff;
$color-gumbo: #7EA1A6;
$color-terracotta: #E97568;
$color-geraldine: #FB9E91;
$color-fiord: #415A67;
$color-pelorous: #42bcbd;
$color-charm: #d76d93;
$color-affair: #7e4b83;
$color-confetti: #eacb5f;